*{
    margin: 0;
}

#web-container{
    min-height: 100vh;
    height: auto;
}

#web-container.light-mode{
background-color: hsl(0, 0%, 98%);
}

#web-container.dark-mode{
    background-color: hsl(235, 21%, 11%);
}